div{
    background-color: black;
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 2px;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    
}
img{
    width: 100%;
}

div:hover{
    box-shadow: 3px 3px 20px black;
}
