.outer{
    height: 200px;
    width: 70px;
    border: 2px black solid;
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50px;
}
#a{
  background-color: red; 
}
#b{
   background-color: yellow;
}
#c{
   background-color: green;
}