.face{
    background-color: rgb(235, 235, 79);
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 250px;
    left: 100px;
    position: absolute;
}
.left,.right{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.right{
   left: 250px;
}