h1{
    color: rgb(24, 118, 200);
    background-color: beige;
    text-align: center;
    text-decoration: underline;
    
}
p{
    font-weight: 400;
    color: rgb(213, 122, 11);
}
h2{
    text-align:start;
    color: rgb(196, 116, 19);
}
h3{
    color: rgb(174, 101, 11);
}