body{
    text-align: center;
}

.div2{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 50px auto;
}