body {
  font-family: Arial;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.cl{
  border: 1px solid black;
  background-color: pink;
}
.li{
  color: white;
  background-color: blue;
}
#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}
.heading{
  color: purple;
  
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}
