.ProductTab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.Product {
  border: 1px solid #ccc;
  border-radius: 14px;
  width: 200px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Product h3 {
  margin-bottom: 10px;
}

.price-container {
  background-color: #f7e0a8;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}